{"openapi":"3.1.0","info":{"title":"Phonic","description":"The next-generation voice AI platform to build, observe, and evaluate your voice AI agents.","license":{"name":"MIT"},"version":"1.0.0"},"servers":[{"url":"https://api.phonic.ai/v1"}],"security":[{"bearerAuth":[]}],"paths":{"/agents":{"get":{"description":"Returns all agents in a project.","parameters":[{"name":"project","in":"query","description":"The name of the project to list agents for.","required":false,"schema":{"type":"string","default":"main"}}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"agents":{"type":"array","items":{"$ref":"#/components/schemas/Agent"}}},"required":["agents"]},"examples":{"AgentExample":{"summary":"List of agents","value":{"agents":[{"id":"agent_12cf6e88-c254-4d3e-a149-a7f1bdd22783","name":"support-agent","project":{"id":"proj_ad0334f1-2487-4155-9df3-abd8129b29ad","name":"customer-support"},"phone_number":"+1234567890","phone_numbers":["+1234567890"],"timezone":"America/Los_Angeles","voice_id":"sabrina","audio_format":"pcm_44100","audio_speed":1,"background_noise_level":0,"background_noise":null,"generate_welcome_message":false,"is_welcome_message_interruptible":true,"welcome_message":"Hi {{customer_name}}. How can I help you today?","system_prompt":"You are an expert in {{subject}}. Be friendly, helpful and concise.","template_variables":{"customer_name":{"default_value":"Sean"},"subject":{"default_value":"Chess"}},"tools":["keypad_input"],"tasks":[{"name":"Check Availability","description":"Check if the appointment is available"},{"name":"Book Appointment","description":"Book the appointment"}],"generate_no_input_poke_text":false,"no_input_poke_sec":30,"no_input_poke_text":"Are you still there?","no_input_end_conversation_sec":180,"default_language":"en","additional_languages":["es"],"multilingual_mode":"request","push_to_talk":false,"boosted_keywords":["Load ID","dispatch"],"pronunciation_dictionary":[{"word":"Phuket","pronunciation":"Poo-ket"}],"min_words_to_interrupt":1,"configuration_endpoint":{"url":"https://api.example.com/config","headers":{"Authorization":"Bearer token123"},"timeout_ms":7000}}]}}}}}},"404":{"description":"Project not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"agents","x-fern-sdk-method-name":"list"},"post":{"description":"Creates a new agent in a project.","parameters":[{"name":"project","in":"query","description":"The name of the project to create the agent in.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"},"example":{"name":"support-agent","phone_number":"assign-automatically","timezone":"America/Los_Angeles","voice_id":"sabrina","audio_speed":1,"background_noise_level":0,"background_noise":null,"generate_welcome_message":false,"is_welcome_message_interruptible":true,"welcome_message":"Hi {{customer_name}}. How can I help you today?","system_prompt":"You are an expert in {{subject}}. Be friendly, helpful and concise.","template_variables":{"customer_name":{"default_value":"David"},"subject":{"default_value":"Chess"}},"tools":["keypad_input"],"default_language":"en","additional_languages":["es"],"multilingual_mode":"request","push_to_talk":false,"boosted_keywords":["Load ID","dispatch"],"pronunciation_dictionary":[{"word":"Phuket","pronunciation":"Poo-ket"}],"min_words_to_interrupt":1,"generate_no_input_poke_text":false,"no_input_poke_sec":30,"no_input_poke_text":"Are you still there?","configuration_endpoint":{"url":"https://api.example.com/config","headers":{"Authorization":"Bearer token123"},"timeout_ms":7000}}}}},"responses":{"201":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the created agent."},"name":{"type":"string","description":"The name of the created agent."}},"required":["id","name"]},"examples":{"CreateAgentExample":{"summary":"Created agent response","value":{"id":"agent_12cf6e88-c254-4d3e-a149-a7f1bdd22783","name":"support-agent"}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Project not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"agents","x-fern-sdk-method-name":"create"}},"/agents/upsert":{"put":{"description":"Upserts an agent by name. If an agent with the same name already exists, it will be updated. Otherwise, it will be created.","parameters":[{"name":"project","in":"query","description":"The name of the project containing the agent.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertAgentRequest"},"example":{"name":"support-agent","phone_number":"assign-automatically","timezone":"America/Los_Angeles","voice_id":"sabrina","audio_speed":1,"background_noise_level":0,"background_noise":null,"generate_welcome_message":false,"is_welcome_message_interruptible":true,"welcome_message":"Hi {{customer_name}}. How can I help you today?","system_prompt":"You are an expert in {{subject}}. Be friendly, helpful and concise.","template_variables":{"customer_name":{"default_value":"David"},"subject":{"default_value":"Chess"}},"tools":["keypad_input"],"default_language":"en","additional_languages":["es"],"multilingual_mode":"request","push_to_talk":false,"boosted_keywords":["Load ID","dispatch"],"pronunciation_dictionary":[{"word":"Phuket","pronunciation":"Poo-ket"}],"min_words_to_interrupt":1,"generate_no_input_poke_text":false,"no_input_poke_sec":30,"no_input_poke_text":"Are you still there?","configuration_endpoint":{"url":"https://api.example.com/config","headers":{"Authorization":"Bearer token123"},"timeout_ms":7000}}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"agent":{"$ref":"#/components/schemas/Agent"},"inserted":{"type":"boolean","description":"Whether the agent was inserted."},"updated":{"type":"boolean","description":"Whether the agent was updated."}},"required":["agent","inserted","updated"]},"examples":{"UpsertAgentExample":{"summary":"Upsert agent response","value":{"agent":{"id":"agent_12cf6e88-c254-4d3e-a149-a7f1bdd22783","name":"support-agent","project":{"id":"proj_ad0334f1-2487-4155-9df3-abd8129b29ad","name":"customer-support"},"phone_number":"+1234567890","phone_numbers":["+1234567890"],"timezone":"America/Los_Angeles","voice_id":"sabrina","audio_format":"pcm_44100","audio_speed":1,"background_noise_level":0,"background_noise":null,"generate_welcome_message":false,"is_welcome_message_interruptible":true,"welcome_message":"Hi {{customer_name}}. How can I help you today?","system_prompt":"You are an expert in {{subject}}. Be friendly, helpful and concise.","template_variables":{"customer_name":{"default_value":"Sean"},"subject":{"default_value":"Chess"}},"tools":["keypad_input"],"tasks":[{"name":"Check Availability","description":"Check if the appointment is available"},{"name":"Book Appointment","description":"Book the appointment"}],"generate_no_input_poke_text":false,"no_input_poke_sec":30,"no_input_poke_text":"Are you still there?","no_input_end_conversation_sec":180,"default_language":"en","additional_languages":["es"],"multilingual_mode":"request","push_to_talk":false,"boosted_keywords":["Load ID","dispatch"],"pronunciation_dictionary":[{"word":"Phuket","pronunciation":"Poo-ket"}],"min_words_to_interrupt":1,"configuration_endpoint":{"url":"https://api.example.com/config","headers":{"Authorization":"Bearer token123"},"timeout_ms":7000}},"inserted":true,"updated":false}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Project not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"agents","x-fern-sdk-method-name":"upsert"}},"/agents/{nameOrId}":{"get":{"description":"Returns an agent by name or ID.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the agent to get.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the agent. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"agent":{"$ref":"#/components/schemas/Agent"}},"required":["agent"]},"examples":{"GetAgentExample":{"summary":"Get agent response","value":{"agent":{"id":"agent_12cf6e88-c254-4d3e-a149-a7f1bdd22783","name":"support-agent","project":{"id":"proj_ad0334f1-2487-4155-9df3-abd8129b29ad","name":"customer-support"},"phone_number":"+1234567890","phone_numbers":["+1234567890"],"timezone":"America/Los_Angeles","voice_id":"sabrina","audio_format":"pcm_44100","audio_speed":1,"background_noise_level":0,"background_noise":null,"generate_welcome_message":false,"is_welcome_message_interruptible":true,"welcome_message":"Hi {{customer_name}}. How can I help you today?","system_prompt":"You are an expert in {{subject}}. Be friendly, helpful and concise.","template_variables":{"customer_name":{"default_value":"Sean"},"subject":{"default_value":"Chess"}},"tools":["keypad_input"],"tasks":[{"name":"Check Availability","description":"Check if the appointment is available"},{"name":"Book Appointment","description":"Book the appointment"}],"generate_no_input_poke_text":false,"no_input_poke_sec":30,"no_input_poke_text":"Are you still there?","no_input_end_conversation_sec":180,"default_language":"en","additional_languages":["es"],"multilingual_mode":"request","push_to_talk":false,"boosted_keywords":["Load ID","dispatch"],"pronunciation_dictionary":[{"word":"Phuket","pronunciation":"Poo-ket"}],"min_words_to_interrupt":1,"configuration_endpoint":{"url":"https://api.example.com/config","headers":{"Authorization":"Bearer token123"},"timeout_ms":7000}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Agent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"agents","x-fern-sdk-method-name":"get"},"patch":{"description":"Updates an agent by name or ID.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the agent to update.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the agent. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAgentRequest"},"example":{"name":"updated-support-agent","phone_number":"assign-automatically","timezone":"America/Los_Angeles","voice_id":"sabrina","audio_speed":1,"background_noise_level":0,"background_noise":null,"generate_welcome_message":false,"is_welcome_message_interruptible":true,"welcome_message":"Hi {{customer_name}}. How can I help you today?","system_prompt":"You are an expert in {{subject}}. Be friendly, helpful and concise.","template_variables":{"customer_name":{"default_value":"David"},"subject":{"default_value":"Chess"}},"tools":["keypad_input"],"default_language":"en","additional_languages":["es"],"multilingual_mode":"request","push_to_talk":false,"boosted_keywords":["Load ID","dispatch"],"pronunciation_dictionary":[{"word":"Phuket","pronunciation":"Poo-ket"}],"min_words_to_interrupt":1,"generate_no_input_poke_text":false,"no_input_poke_sec":30,"no_input_poke_text":"Are you still there?","configuration_endpoint":{"url":"https://api.example.com/config","headers":{"Authorization":"Bearer token123"},"timeout_ms":7000}}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the agent was updated successfully."},"version_number":{"type":"integer","description":"The version number of the agent after the update."},"agent":{"$ref":"#/components/schemas/Agent","description":"The updated agent."}},"required":["success","version_number","agent"]},"examples":{"UpdateAgentExample":{"summary":"Update agent response","value":{"success":true,"version_number":2,"agent":{"id":"agent_12cf6e88-c254-4d3e-a149-a7f1bdd22783","name":"updated-support-agent","project":{"id":"proj_ad0334f1-2487-4155-9df3-abd8129b29ad","name":"customer-support"},"phone_number":"+1234567890","phone_numbers":["+1234567890"],"timezone":"America/Los_Angeles","voice_id":"sabrina","audio_format":"pcm_44100","audio_speed":1,"background_noise_level":0,"background_noise":null,"generate_welcome_message":false,"is_welcome_message_interruptible":true,"welcome_message":"Hi {{customer_name}}. How can I help you today?","system_prompt":"You are an expert in {{subject}}. Be friendly, helpful and concise.","template_variables":{"customer_name":{"default_value":"Sean"},"subject":{"default_value":"Chess"}},"tools":["keypad_input"],"tasks":[{"name":"Check Availability","description":"Check if the appointment is available"}],"generate_no_input_poke_text":false,"no_input_poke_sec":30,"no_input_poke_text":"Are you still there?","no_input_end_conversation_sec":180,"default_language":"en","additional_languages":["es"],"multilingual_mode":"request","push_to_talk":false,"boosted_keywords":["Load ID","dispatch"],"pronunciation_dictionary":[{"word":"Phuket","pronunciation":"Poo-ket"}],"min_words_to_interrupt":1,"configuration_endpoint":{"url":"https://api.example.com/config","headers":{"Authorization":"Bearer token123"},"timeout_ms":7000}}}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Agent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"agents","x-fern-sdk-method-name":"update"},"delete":{"description":"Deletes an agent by name or ID.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the agent to delete.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the agent. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the agent was deleted successfully."}},"required":["success"]},"examples":{"DeleteAgentExample":{"summary":"Delete agent response","value":{"success":true}}}}}},"403":{"description":"Forbidden (resource belongs to a different organization)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Agent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"agents","x-fern-sdk-method-name":"delete"}},"/agents/{nameOrId}/custom-phone-numbers":{"post":{"description":"Adds a custom phone number to an agent. The user must configure their SIP trunk to point to Phonic's SIP server.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the agent.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the agent. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"},{"name":"X-Sip-Address","in":"header","description":"SIP address of the user's SIP trunk. Required. All three SIP headers (X-Sip-Address, X-Sip-Auth-Username, X-Sip-Auth-Password) must be provided. They are used for outbound calls and call transfers from the agent.","required":true,"schema":{"type":"string"}},{"name":"X-Sip-Auth-Username","in":"header","description":"SIP auth username. Required. All three SIP headers (X-Sip-Address, X-Sip-Auth-Username, X-Sip-Auth-Password) must be provided. They are used for outbound calls and call transfers from the agent.","required":true,"schema":{"type":"string"}},{"name":"X-Sip-Auth-Password","in":"header","description":"SIP auth password. Required. All three SIP headers (X-Sip-Address, X-Sip-Auth-Username, X-Sip-Auth-Password) must be provided. They are used for outbound calls and call transfers from the agent.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"phone_number":{"type":"string","description":"The E.164 formatted phone number to add (e.g., \"+15551234567\")."},"configuration_endpoint":{"type":["object","null"],"properties":{"url":{"type":"string","description":"URL to call. Must be a publicly routable HTTPS URL without embedded credentials."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Object of key-value pairs.","example":{"Authorization":"Bearer token123"}},"timeout_ms":{"type":"integer","description":"Timeout in milliseconds for the endpoint call.","default":3000}},"required":["url"],"description":"When not `null`, the agent will call this endpoint to get configuration options for calls on this phone number."},"sip":{"type":"object","properties":{"transport":{"type":"string","enum":["auto","udp","tcp","tls"],"default":"auto","description":"SIP signaling transport used for calls on this phone number. The SIP address must not carry a `;transport=` parameter; set it here instead."},"media_encryption":{"type":"string","enum":["disabled","allowed","required"],"default":"disabled","description":"Whether media (SRTP) encryption is used on calls on this phone number."}},"description":"SIP trunk settings for this phone number, applied to both its inbound trunk and the trunk created for each outbound call. Set at creation; remove and re-add the number to change them."}},"required":["phone_number"]},"example":{"phone_number":"+15551234567","configuration_endpoint":{"url":"https://api.example.com/config","headers":{"Authorization":"Bearer token123"},"timeout_ms":7000},"sip":{"transport":"tls","media_encryption":"required"}}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]},"examples":{"AddPhoneNumberExample":{"summary":"Add custom phone number response","value":{"success":true}}}}}},"400":{"description":"Invalid parameters or phone number already assigned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"401":{"description":"Unsupported authentication method","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Agent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"409":{"description":"The agent is currently being updated. Please try again.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"agents","x-fern-sdk-method-name":"add_custom_phone_number"},"delete":{"description":"Deletes a custom phone number from an agent.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the agent.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the agent. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"phone_number":{"type":"string","description":"The E.164 formatted phone number to remove (e.g., \"+15551234567\")."}},"required":["phone_number"]},"example":{"phone_number":"+15551234567"}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]},"examples":{"RemovePhoneNumberExample":{"summary":"Remove custom phone number response","value":{"success":true}}}}}},"400":{"description":"Invalid parameters, phone number not assigned to agent, or not a custom phone number","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"401":{"description":"Unsupported authentication method","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Agent or phone number not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"409":{"description":"The agent is currently being updated. Please try again.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"agents","x-fern-sdk-method-name":"delete_custom_phone_number"}},"/agents/{nameOrId}/phone-numbers":{"patch":{"description":"Updates a phone number on an agent.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the agent.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the agent. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"phone_number":{"type":"string","description":"The E.164 formatted phone number to add (e.g., \"+15551234567\")."},"configuration_endpoint":{"type":["object","null"],"properties":{"url":{"type":"string","description":"URL to call. Must be a publicly routable HTTPS URL without embedded credentials."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Object of key-value pairs.","example":{"Authorization":"Bearer token123"}},"timeout_ms":{"type":"integer","description":"Timeout in milliseconds for the endpoint call.","default":3000}},"required":["url"],"description":"When not `null`, the agent will call this endpoint to get configuration options for calls on this phone number."}},"required":["phone_number"]},"example":{"phone_number":"+15551234567","configuration_endpoint":{"url":"https://api.example.com/config","headers":{"Authorization":"Bearer token123"},"timeout_ms":7000}}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]},"examples":{"UpdatePhoneNumberExample":{"summary":"Update a phone number response","value":{"success":true}}}}}},"400":{"description":"Invalid parameters or phone number already assigned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"401":{"description":"Unsupported authentication method","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Agent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"409":{"description":"The agent is currently being updated. Please try again.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"agents","x-fern-sdk-method-name":"update_phone_number"}},"/tools":{"get":{"description":"Returns all custom tools for the organization.","parameters":[{"name":"project","in":"query","description":"The name of the project to list tools for.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"tools":{"type":"array","items":{"$ref":"#/components/schemas/Tool"}}},"required":["tools"]},"examples":{"ToolsListExample":{"summary":"List of tools","value":{"tools":[{"id":"tool_29874283-c829-abf9-3028-309bc7aw3098","project":{"id":"proj_8e5bdac5-868d-46fa-b300-439e777f7bfd","name":"main"},"type":"custom_context","name":"context_printer","description":"Gets the specific context for fixing our printer","execution_mode":"sync","require_speech_before_tool_call":false,"forbid_speech_after_tool_call":false,"allow_tool_chaining":true,"context":"Press the A button 5 times then gently shake the printer.","parameters":[]},{"id":"tool_12cf6e88-c254-4d3e-a149-ddf1bdd2254c","project":{"id":"proj_8e5bdac5-868d-46fa-b300-439e777f7bfd","name":"main"},"type":"custom_webhook","name":"book_appointment","description":"Books an appointment in the calendar system","execution_mode":"sync","endpoint_method":"POST","endpoint_url":"https://api.example.com/book-appointment","endpoint_headers":{"Authorization":"Bearer token123","Content-Type":"application/json"},"endpoint_timeout_ms":5000,"require_speech_before_tool_call":false,"wait_for_speech_before_tool_call":false,"forbid_speech_after_tool_call":false,"allow_tool_chaining":true,"parameters":[{"type":"string","name":"date","description":"The date for the appointment in YYYY-MM-DD format","is_required":true,"location":"request_body"},{"type":"string","name":"time","description":"The time for the appointment in HH:MM format","is_required":true,"location":"request_body"}]},{"id":"tool_98765432-abcd-efgh-ijkl-mnopqrstuvwx","project":{"id":"proj_8e5bdac5-868d-46fa-b300-439e777f7bfd","name":"main"},"name":"get_product_recommendations","description":"Gets personalized product recommendations","type":"custom_websocket","execution_mode":"async","tool_call_output_timeout_ms":5000,"require_speech_before_tool_call":false,"wait_for_speech_before_tool_call":false,"forbid_speech_after_tool_call":false,"allow_tool_chaining":true,"wait_for_response":false,"parameters":[{"type":"string","name":"category","description":"Product category (e.g., 'handbags', 'shoes', 'electronics')","is_required":true}]},{"id":"tool_11111111-2222-3333-4444-555555555555","project":{"id":"proj_8e5bdac5-868d-46fa-b300-439e777f7bfd","name":"main"},"name":"transfer_to_support","description":"Transfers the caller to the support team","type":"built_in_transfer_to_phone_number","execution_mode":"sync","phone_number":"+15551234567","dtmf":"1234","dynamic_dtmf":false,"use_agent_phone_number":true,"detect_voicemail":false,"keep_listening":true,"require_speech_before_tool_call":false,"parameters":[]},{"id":"tool_22222222-3333-4444-5555-666666666666","project":{"id":"proj_8e5bdac5-868d-46fa-b300-439e777f7bfd","name":"main"},"name":"transfer_to_specialist","description":"Transfers the caller to a specialist agent","type":"built_in_transfer_to_agent","execution_mode":"sync","agents_to_transfer_to":["sales-agent","support-agent","technical-agent"],"require_speech_before_tool_call":false,"parameters":[]}]}}}}}},"404":{"description":"Project not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-fern-sdk-group-name":"tools","x-fern-sdk-method-name":"list"},"post":{"description":"Creates a new tool in a project.","parameters":[{"name":"project","in":"query","description":"The name of the project to create the tool in.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateToolRequest"},"examples":{"context_tool":{"summary":"Context tool example","value":{"name":"context_printer","description":"Gets the specific context for fixing our printer","type":"custom_context","execution_mode":"sync","require_speech_before_tool_call":false,"forbid_speech_after_tool_call":false,"allow_tool_chaining":true,"context":"Press the A button 5 times then gently shake the printer.","parameters":[]}},"webhook_tool":{"summary":"Webhook tool example","value":{"name":"book_appointment","description":"Books an appointment in the calendar system","type":"custom_webhook","endpoint_method":"POST","endpoint_url":"https://api.example.com/book-appointment","endpoint_headers":{"Authorization":"Bearer token123","Content-Type":"application/json"},"endpoint_timeout_ms":5000,"execution_mode":"sync","require_speech_before_tool_call":false,"wait_for_speech_before_tool_call":false,"forbid_speech_after_tool_call":false,"allow_tool_chaining":true,"parameters":[{"type":"string","name":"date","description":"The date for the appointment in YYYY-MM-DD format","is_required":true,"location":"request_body"},{"type":"string","name":"time","description":"The time for the appointment in HH:MM format","is_required":true,"location":"request_body"}]}},"webhook_tool_nested_parameters":{"summary":"Webhook tool with raw JSON Schema parameters","value":{"name":"create_order","description":"Creates an order in the fulfillment system","type":"custom_webhook","endpoint_method":"POST","endpoint_url":"https://api.example.com/orders","endpoint_timeout_ms":5000,"execution_mode":"sync","parameters":{"type":"object","properties":{"customer":{"type":"object","description":"The customer placing the order","properties":{"name":{"type":"string","description":"The customer's full name"},"tier":{"type":"string","enum":["free","pro"],"description":"The customer's subscription tier"}},"required":["name"]},"items":{"type":"array","description":"The items being ordered","items":{"type":"object","properties":{"sku":{"type":"string","description":"The item's SKU"},"quantity":{"type":"integer","description":"How many of the item to order"}},"required":["sku","quantity"]}}},"required":["customer","items"],"additionalProperties":false},"parameter_locations":{"customer":"request_body","items":"request_body"}}},"websocket_tool":{"summary":"WebSocket tool example","value":{"name":"check_inventory","description":"Checks product inventory levels","type":"custom_websocket","execution_mode":"async","tool_call_output_timeout_ms":5000,"require_speech_before_tool_call":false,"wait_for_speech_before_tool_call":false,"forbid_speech_after_tool_call":false,"allow_tool_chaining":true,"wait_for_response":false,"parameters":[{"type":"string","name":"product_id","description":"The product ID to check","is_required":true}]}},"built_in_transfer_tool":{"summary":"Transfer to phone number","value":{"name":"transfer_to_support","description":"Transfers the caller to the support team","type":"built_in_transfer_to_phone_number","phone_number":"+15551234567","dtmf":"1234","dynamic_dtmf":false,"use_agent_phone_number":true,"detect_voicemail":false,"execution_mode":"sync","require_speech_before_tool_call":false}},"built_in_transfer_to_agent_tool":{"summary":"Transfer to agent","value":{"name":"transfer_to_specialist","description":"Transfers the caller to a specialist agent","type":"built_in_transfer_to_agent","agents_to_transfer_to":["sales-agent","support-agent","technical-agent"],"execution_mode":"sync","require_speech_before_tool_call":false}}}}}},"responses":{"201":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the created tool."},"name":{"type":"string","description":"The name of the created tool."}},"required":["id","name"]},"examples":{"CreateToolExample":{"summary":"Created tool response","value":{"id":"tool_12cf6e88-c254-4d3e-a149-ddf1bdd2254c","name":"book_appointment"}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Agent authentication cannot create tools","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Tool name already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-fern-sdk-group-name":"tools","x-fern-sdk-method-name":"create"}},"/tools/{nameOrId}":{"get":{"description":"Returns a tool by name or ID.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the tool to get.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the tool. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"tool":{"$ref":"#/components/schemas/Tool"}},"required":["tool"]},"examples":{"GetContextToolExample":{"summary":"Context tool response","value":{"tool":{"id":"tool_29874283-c829-abf9-3028-309bc7aw3098","project":{"id":"proj_8e5bdac5-868d-46fa-b300-439e777f7bfd","name":"main"},"type":"custom_context","name":"context_printer","description":"Gets the specific context for fixing our printer","execution_mode":"sync","require_speech_before_tool_call":false,"forbid_speech_after_tool_call":false,"allow_tool_chaining":true,"context":"Press the A button 5 times then gently shake the printer.","parameters":[]}}},"GetWebhookToolExample":{"summary":"Webhook tool response","value":{"tool":{"id":"tool_12cf6e88-c254-4d3e-a149-ddf1bdd2254c","project":{"id":"proj_8e5bdac5-868d-46fa-b300-439e777f7bfd","name":"main"},"type":"custom_webhook","name":"book_appointment","description":"Books an appointment in the calendar system","execution_mode":"sync","endpoint_method":"POST","endpoint_url":"https://api.example.com/book-appointment","endpoint_headers":{"Authorization":"Bearer token123","Content-Type":"application/json"},"endpoint_timeout_ms":5000,"require_speech_before_tool_call":false,"wait_for_speech_before_tool_call":false,"forbid_speech_after_tool_call":false,"allow_tool_chaining":true,"parameters":[{"type":"string","name":"date","description":"The date for the appointment in YYYY-MM-DD format","is_required":true,"location":"request_body"},{"type":"string","name":"time","description":"The time for the appointment in HH:MM format","is_required":true,"location":"request_body"}]}}},"GetWebSocketToolExample":{"summary":"WebSocket tool response","value":{"tool":{"id":"tool_98765432-abcd-efgh-ijkl-mnopqrstuvwx","project":{"id":"proj_8e5bdac5-868d-46fa-b300-439e777f7bfd","name":"main"},"name":"get_product_recommendations","description":"Gets personalized product recommendations","type":"custom_websocket","execution_mode":"async","tool_call_output_timeout_ms":5000,"require_speech_before_tool_call":false,"wait_for_speech_before_tool_call":false,"forbid_speech_after_tool_call":false,"allow_tool_chaining":true,"wait_for_response":false,"parameters":[{"type":"string","name":"category","description":"Product category (e.g., 'handbags', 'shoes', 'electronics')","is_required":true}]}}},"GetBuiltInTransferToolExample":{"summary":"Built-in transfer to phone number tool response","value":{"tool":{"id":"tool_11111111-2222-3333-4444-555555555555","project":{"id":"proj_8e5bdac5-868d-46fa-b300-439e777f7bfd","name":"main"},"name":"transfer_to_support","description":"Transfers the caller to the support team","type":"built_in_transfer_to_phone_number","execution_mode":"sync","phone_number":"+15551234567","dtmf":"1234","dynamic_dtmf":false,"use_agent_phone_number":true,"detect_voicemail":false,"keep_listening":true,"require_speech_before_tool_call":false,"parameters":[]}}},"GetBuiltInTransferToAgentToolExample":{"summary":"Built-in transfer to agent tool response","value":{"tool":{"id":"tool_22222222-3333-4444-5555-666666666666","project":{"id":"proj_8e5bdac5-868d-46fa-b300-439e777f7bfd","name":"main"},"name":"transfer_to_specialist","description":"Transfers the caller to a specialist agent","type":"built_in_transfer_to_agent","execution_mode":"sync","agents_to_transfer_to":["sales-agent","support-agent","technical-agent"],"require_speech_before_tool_call":false,"parameters":[]}}}}}}},"403":{"description":"Forbidden (resource belongs to a different organization)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Tool not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"tools","x-fern-sdk-method-name":"get"},"patch":{"description":"Updates a tool by name or ID.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the tool to update.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the tool. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateToolRequest"},"example":{"description":"Updated description for booking appointments with enhanced features","endpoint_timeout_ms":7000,"endpoint_headers":{"Authorization":"Bearer updated_token456"}}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the tool was updated successfully."}},"required":["success"]},"examples":{"UpdateToolExample":{"summary":"Update tool response","value":{"success":true}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Tool not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"409":{"description":"Tool name already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}}},"x-fern-sdk-group-name":"tools","x-fern-sdk-method-name":"update"},"delete":{"description":"Deletes a tool by name or ID.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the tool to delete.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the tool. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the tool was deleted successfully."}},"required":["success"]},"examples":{"DeleteToolExample":{"summary":"Delete tool response","value":{"success":true}}}}}},"404":{"description":"Tool not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-fern-sdk-group-name":"tools","x-fern-sdk-method-name":"delete"}},"/external_storage_policies":{"get":{"description":"Returns all external storage policies in a project.","parameters":[{"name":"project","in":"query","description":"The name of the project to list external storage policies for.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"external_storage_policies":{"type":"array","items":{"$ref":"#/components/schemas/ExternalStoragePolicy"}}},"required":["external_storage_policies"]},"examples":{"ExternalStoragePoliciesListExample":{"summary":"List of external storage policies","value":{"external_storage_policies":[{"id":"external_storage_policy_9c5f7d2a-4b18-4d0e-8a2e-7a2f1c6d3b90","name":"conversation_archive","endpoint_url":"https://storage.example.com","bucket":"conversation-audio","region":"us-east-1","key_prefix":"phonic/conversations","addressing_style":"auto","agent_count":2}]}}}}}},"404":{"description":"Project not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"external_storage_policies","x-fern-sdk-method-name":"list"},"post":{"description":"Creates a new external storage policy in a project. Agents referencing the policy deliver their conversation artifacts to the configured S3-compatible bucket.","parameters":[{"name":"project","in":"query","description":"The name of the project to create the external storage policy in.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateExternalStoragePolicyRequest"},"example":{"name":"conversation_archive","endpoint_url":"https://storage.example.com","bucket":"conversation-audio","region":"us-east-1","key_prefix":"phonic/conversations","addressing_style":"auto","access_key_id":"AKIAIOSFODNN7EXAMPLE","secret_access_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"}}}},"responses":{"201":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the created external storage policy."},"name":{"type":"string","description":"The name of the created external storage policy."}},"required":["id","name"]},"examples":{"CreateExternalStoragePolicyExample":{"summary":"Created external storage policy response","value":{"id":"external_storage_policy_9c5f7d2a-4b18-4d0e-8a2e-7a2f1c6d3b90","name":"conversation_archive"}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Project not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"409":{"description":"External storage policy name already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"external_storage_policies","x-fern-sdk-method-name":"create"}},"/external_storage_policies/{nameOrId}":{"get":{"description":"Returns an external storage policy by name or ID.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the external storage policy to get.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the external storage policy. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"external_storage_policy":{"$ref":"#/components/schemas/ExternalStoragePolicy"}},"required":["external_storage_policy"]},"examples":{"GetExternalStoragePolicyExample":{"summary":"Get external storage policy response","value":{"external_storage_policy":{"id":"external_storage_policy_9c5f7d2a-4b18-4d0e-8a2e-7a2f1c6d3b90","name":"conversation_archive","endpoint_url":"https://storage.example.com","bucket":"conversation-audio","region":"us-east-1","key_prefix":"phonic/conversations","addressing_style":"auto","agent_count":2}}}}}}},"403":{"description":"Forbidden (resource belongs to a different organization)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"External storage policy not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"external_storage_policies","x-fern-sdk-method-name":"get"},"patch":{"description":"Updates an external storage policy by name or ID. Credentials can only be rotated by providing both `access_key_id` and `secret_access_key`.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the external storage policy to update.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the external storage policy. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateExternalStoragePolicyRequest"},"example":{"bucket":"conversation-audio-archive","key_prefix":"phonic/archive"}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the external storage policy was updated successfully."}},"required":["success"]},"examples":{"UpdateExternalStoragePolicyExample":{"summary":"Update external storage policy response","value":{"success":true}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden (resource belongs to a different organization)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"External storage policy not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"409":{"description":"External storage policy name already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"external_storage_policies","x-fern-sdk-method-name":"update"},"delete":{"description":"Deletes an external storage policy by name or ID. The policy must not be referenced by any agent.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the external storage policy to delete.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the external storage policy. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the external storage policy was deleted successfully."}},"required":["success"]},"examples":{"DeleteExternalStoragePolicyExample":{"summary":"Delete external storage policy response","value":{"success":true}}}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden (resource belongs to a different organization)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"External storage policy not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"409":{"description":"External storage policy is still attached to one or more agents","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"external_storage_policies","x-fern-sdk-method-name":"delete"}},"/extraction_schemas":{"get":{"description":"Returns all extraction schemas in a project.","parameters":[{"name":"project","in":"query","description":"The name of the project to list extraction schemas for.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"extraction_schemas":{"type":"array","items":{"$ref":"#/components/schemas/ExtractionSchema"}}},"required":["extraction_schemas"]},"examples":{"ExtractionSchemasListExample":{"summary":"List of extraction schemas","value":{"extraction_schemas":[{"id":"conv_extract_schema_c818e617-59f9-4f43-936e-ca8a794f9ccf","name":"Appointment details","prompt":"Dates should be in `9 Apr 2025` format. Prices should be in $150.00 format.","fields":[{"name":"Date","type":"string","description":"The date of the appointment"},{"name":"Copay","type":"string","description":"Amount of money the patient pays for the appointment"},{"name":"Confirmed as booked","type":"bool","description":"Is the appointment confirmed as booked?"}]}]}}}}}},"404":{"description":"Project not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-fern-sdk-group-name":"extraction_schemas","x-fern-sdk-method-name":"list"},"post":{"description":"Creates a new extraction schema in a project.","parameters":[{"name":"project","in":"query","description":"The name of the project to create the extraction schema in.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateExtractionSchemaRequest"},"example":{"name":"Appointment details","prompt":"Dates should be in `9 Apr 2025` format. Prices should be in $150.00 format.","fields":[{"name":"Date","type":"string","description":"The date of the appointment"},{"name":"Copay","type":"string","description":"Amount of money the patient pays for the appointment"},{"name":"Confirmed as booked","type":"bool","description":"Is the appointment confirmed as booked?"}]}}}},"responses":{"201":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the created extraction schema."},"name":{"type":"string","description":"The name of the created extraction schema."}},"required":["id","name"]},"examples":{"CreateExtractionSchemaExample":{"summary":"Created extraction schema response","value":{"id":"conv_extract_schema_c818e617-59f9-4f43-936e-ca8a794f9ccf","name":"Appointment details"}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Project not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Extraction schema name already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-fern-sdk-group-name":"extraction_schemas","x-fern-sdk-method-name":"create"}},"/extraction_schemas/{nameOrId}":{"get":{"description":"Returns an extraction schema by name or ID.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the extraction schema to get.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the extraction schema. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"extraction_schema":{"$ref":"#/components/schemas/ExtractionSchema"}},"required":["extraction_schema"]},"examples":{"GetExtractionSchemaExample":{"summary":"Get extraction schema response","value":{"extraction_schema":{"id":"conv_extract_schema_c818e617-59f9-4f43-936e-ca8a794f9ccf","name":"Appointment details","prompt":"Dates should be in `9 Apr 2025` format. Prices should be in $150.00 format.","fields":[{"name":"Date","type":"string","description":"The date of the appointment"},{"name":"Copay","type":"string","description":"Amount of money the patient pays for the appointment"},{"name":"Confirmed as booked","type":"bool","description":"Is the appointment confirmed as booked?"}]}}}}}}},"404":{"description":"Extraction schema not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"extraction_schemas","x-fern-sdk-method-name":"get"},"patch":{"description":"Updates an extraction schema by name or ID.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the extraction schema to update.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the extraction schema. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateExtractionSchemaRequest"},"example":{"name":"Updated appointment details","prompt":"Updated extraction instructions. Dates should be in `9 Apr 2025` format.","fields":[{"name":"Date","type":"string","description":"The date of the appointment"},{"name":"Time","type":"string","description":"The time of the appointment"}]}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the extraction schema was updated successfully."}},"required":["success"]},"examples":{"UpdateExtractionSchemaExample":{"summary":"Update extraction schema response","value":{"success":true}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Extraction schema not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Extraction schema name already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-fern-sdk-group-name":"extraction_schemas","x-fern-sdk-method-name":"update"},"delete":{"description":"Deletes an extraction schema by name or ID.","parameters":[{"name":"nameOrId","in":"path","description":"The name or the ID of the extraction schema to delete.","required":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"The name of the project containing the extraction schema. Only used when `nameOrId` is a name.","required":false,"schema":{"type":"string","default":"main"},"example":"main"}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the extraction schema was deleted successfully."}},"required":["success"]},"examples":{"DeleteExtractionSchemaExample":{"summary":"Delete extraction schema response","value":{"success":true}}}}}},"404":{"description":"Extraction schema not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-fern-sdk-group-name":"extraction_schemas","x-fern-sdk-method-name":"delete"}},"/voices":{"get":{"description":"Returns all available voices for a model.","parameters":[{"name":"model","in":"query","description":"The model to get voices for.","required":true,"schema":{"type":"string","enum":["merritt"]}}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"voices":{"type":"array","items":{"$ref":"#/components/schemas/Voice"}}},"required":["voices"]},"examples":{"VoicesListExample":{"summary":"List of voices","value":{"voices":[{"id":"sabrina","name":"Sabrina","description":null,"audio_url":"https://example.com/audio/sabrina.wav"}]}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"voices","x-fern-sdk-method-name":"list"}},"/voices/{id}":{"get":{"description":"Returns a voice by ID.","parameters":[{"name":"id","in":"path","description":"The ID of the voice to get.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"voice":{"$ref":"#/components/schemas/Voice"}},"required":["voice"]},"examples":{"GetVoiceExample":{"summary":"Get voice response","value":{"voice":{"id":"sabrina","name":"Sabrina","description":null,"audio_url":"https://example.com/audio/sabrina.wav"}}}}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Voice not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":{"message":"Voice not found"}}}}}},"x-fern-sdk-group-name":"voices","x-fern-sdk-method-name":"get"}},"/workspace":{"get":{"description":"Returns information about the workspace.","responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"active_conversations":{"type":"integer","description":"Number of conversations currently in progress for this workspace.","minimum":0},"max_active_conversations":{"type":"integer","description":"Maximum number of concurrent conversations allowed for this workspace.","minimum":0},"logo_url":{"type":["string","null"],"description":"URL of the workspace logo (PNG or SVG), or null if not set."},"invite_link_allowed_domains":{"type":"array","items":{"type":"string"},"description":"Email domains allowed to join the workspace via invite link."},"ip_allowlist":{"type":"array","items":{"type":"string"},"description":"IP addresses or CIDR ranges allowed to access the workspace."}},"required":["active_conversations","max_active_conversations","logo_url","invite_link_allowed_domains","ip_allowlist"]},"examples":{"WorkspaceExample":{"summary":"Workspace usage","value":{"active_conversations":3,"max_active_conversations":10,"logo_url":"https://example.com/logo.png","invite_link_allowed_domains":["example.com"],"ip_allowlist":["203.0.113.0/24"]}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"workspace","x-fern-sdk-method-name":"get"},"patch":{"description":"Updates the workspace.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWorkspaceRequest"},"example":{"logo_url":"https://example.com/logo.png","invite_link_allowed_domains":["example.com"],"ip_allowlist":["203.0.113.0/24"]}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]},"example":{"success":true}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"workspace","x-fern-sdk-method-name":"update"}},"/api_keys":{"post":{"description":"Creates a new API key in the workspace.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApiKeyRequest"},"example":{"name":"production-key"}}}},"responses":{"201":{"description":"API key created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyWithSecret"},"examples":{"CreateApiKeyExample":{"summary":"Created API key response","value":{"id":"api_key_12cf6e88-c254-4d3e-a149-a7f1bdd22783","name":"production-key","api_key":"phk_abc123def456..."}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"api_keys","x-fern-sdk-method-name":"create"}},"/api_keys/{id}":{"patch":{"description":"Updates an API key.","parameters":[{"name":"id","in":"path","description":"The ID of the API key to update.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateApiKeyRequest"},"example":{"name":"renamed-key"}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]},"example":{"success":true}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"API key not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"api_keys","x-fern-sdk-method-name":"update"},"delete":{"description":"Deletes an API key.","parameters":[{"name":"id","in":"path","description":"The ID of the API key to delete.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]},"example":{"success":true}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"API key not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"api_keys","x-fern-sdk-method-name":"delete"}},"/api_keys/{id}/rotate":{"post":{"description":"Rotates an API key, generating a new secret and invalidating the old one.","parameters":[{"name":"id","in":"path","description":"The ID of the API key to rotate.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"API key rotated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyWithSecret"},"examples":{"RotateApiKeyExample":{"summary":"Rotated API key response","value":{"id":"api_key_12cf6e88-c254-4d3e-a149-a7f1bdd22783","name":"production-key","api_key":"phk_new789xyz..."}}}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"API key not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"api_keys","x-fern-sdk-method-name":"rotate"}},"/conversation_items/{id}/replay":{"post":{"description":"Returns the alternative response(s) the assistant would have\nproduced for this conversation turn given changes to the agent system prompt.\n\nOnly assistant items from ended conversations can be replayed. Omit the\nrequest body (or omit `system_prompt`) to replay the turn exactly as it\noriginally ran.\n","parameters":[{"name":"id","in":"path","description":"The ID of the conversation item to replay.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplayConversationItemRequest"}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplayConversationItemResponse"},"examples":{"ReplayConversationItemExample":{"summary":"Replay conversation item response","value":{"responses":[{"text":"Sure — I can help with that. What time works best?","tool_calls":[]}]}}}}}},"400":{"description":"Malformed JSON or invalid request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Conversation item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"},"example":{"error":{"message":"Conversation item not found"}}}}},"409":{"description":"Conversation is still live","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"},"example":{"error":{"message":"Cannot replay an item from a live conversation"}}}}},"422":{"description":"Conversation item cannot be replayed (not an assistant item, or the conversation's transcripts were deleted)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"},"example":{"error":{"message":"Cannot replay this conversation item"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"conversation_items","x-fern-sdk-method-name":"replay"}},"/conversations":{"get":{"description":"Returns conversations with optional filtering.","parameters":[{"name":"project","in":"query","description":"The name of the project to list conversations for.","required":false,"schema":{"type":"string","default":"main"}},{"name":"external_id","in":"query","description":"Filter by external ID to get a specific conversation.","required":false,"schema":{"type":"string"}},{"name":"duration_min","in":"query","description":"Minimum duration in seconds.","required":false,"schema":{"type":"integer","minimum":0}},{"name":"duration_max","in":"query","description":"Maximum duration in seconds.","required":false,"schema":{"type":"integer","minimum":0}},{"name":"started_at_min","in":"query","description":"Minimum start date/time. Valid examples: `2025-04-17`, `2025-04-17T02:48:52.708Z`","required":false,"schema":{"type":"string"}},{"name":"started_at_max","in":"query","description":"Maximum start date/time. Valid examples: `2025-04-17`, `2025-04-17T02:48:52.708Z`","required":false,"schema":{"type":"string"}},{"name":"before","in":"query","description":"Cursor for backward pagination. Use a conversation ID from `pagination.prev_cursor` to fetch the previous page of conversations. Cannot be used with `after`.","required":false,"schema":{"type":"string"}},{"name":"after","in":"query","description":"Cursor for forward pagination. Use a conversation ID from `pagination.next_cursor` to fetch the next page of conversations. Cannot be used with `before`.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of conversations to return per page.","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"audio_container","in":"query","description":"Format of the presigned `audio_url` in each conversation in the response.","required":false,"schema":{"type":"string","enum":["wav.gz","wav"],"default":"wav.gz"}}],"responses":{"200":{"description":"Paginated list (`conversations`, `pagination`) when listing, or a single `conversation` when the `external_id` query parameter matches exactly one conversation.\n","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ListConversationsResponse"},{"$ref":"#/components/schemas/GetConversationByExternalIdResponse"}]},"examples":{"ConversationListExample":{"$ref":"#/components/examples/ConversationListExample"},"SingleConversationExample":{"$ref":"#/components/examples/SingleConversationExample"}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Project or conversation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"conversations","x-fern-sdk-method-name":"list"}},"/conversations/{id}":{"get":{"description":"Returns a conversation by ID.","parameters":[{"name":"id","in":"path","description":"The ID of the conversation to get.","required":true,"schema":{"type":"string"}},{"name":"audio_container","in":"query","description":"Format of the presigned `audio_url` in the response.","required":false,"schema":{"type":"string","enum":["wav.gz","wav"],"default":"wav.gz"}}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"conversation":{"$ref":"#/components/schemas/Conversation"}},"required":["conversation"]},"examples":{"GetConversationExample":{"summary":"Get conversation response","value":{"conversation":{"id":"conv_12cf6e88-c254-4d3e-a149-ddf1bdd2254c","agent":{"id":"agent_12cf6e88-c254-4d3e-a149-a7f1bdd22783","name":"support-agent","is_deleted":false},"workspace":"example-workspace","project":{"id":"proj_ad0334f1-2487-4155-9df3-abd8129b29ad","name":"customer-support"},"external_id":"call-123","origin":"inbound","model":"merritt","generate_welcome_message":false,"is_welcome_message_interruptible":true,"welcome_message":"Hello {{customer_name}}, this is the {{department}} team. How can I help you today?","template_variables":{"customer_name":"John","department":"Support"},"input_format":"mulaw_8000","output_format":"mulaw_8000","background_noise_level":0,"background_noise":null,"live_transcript":"User: Hi, I need help with booking an appointment.\nAssistant: Of course! I'd be happy to help you book an appointment.","post_call_transcript":"User: Hi, I need help with booking an appointment.\nAssistant: Of course! I'd be happy to help you book an appointment.","duration_ms":120500,"audio_url":"https://example.com/audio/conv_12cf6e88.wav","started_at":"2025-07-30T23:45:00.000Z","ended_at":"2025-07-30T23:47:00.500Z","ended_by":"user","default_language":"en","additional_languages":["es"],"multilingual_mode":"request","push_to_talk":false,"boosted_keywords":["Load ID","dispatch"],"pronunciation_dictionary":[{"word":"Phuket","pronunciation":"Poo-ket"}],"min_words_to_interrupt":1,"no_input_poke_sec":30,"no_input_poke_text":"Are you still there?","no_input_end_conversation_sec":180,"vad_prebuffer_duration_ms":500,"vad_min_speech_duration_ms":50,"vad_min_silence_duration_ms":800,"vad_threshold":0.38,"task_results":{},"items":[{"item_idx":0,"role":"user","live_transcript":"Hi, I need help with booking an appointment.","post_call_transcript":"Hi, I need help with booking an appointment.","duration_ms":2500,"started_at":"2025-07-30T23:45:00.000Z"},{"item_idx":1,"role":"assistant","live_transcript":"Of course! I'd be happy to help you book an appointment.","post_call_transcript":"Of course! I'd be happy to help you book an appointment.","duration_ms":3000,"started_at":"2025-07-30T23:45:02.500Z","voice_id":"sabrina","audio_speed":1,"system_prompt":"You are a helpful {{department}} assistant. The customer's name is {{customer_name}}. Help them book appointments.","tool_calls":[{"id":"tool_call_f2d5c8a1-9e4b-4a7c-b3d1-6f8e2a9c5b7d","tool":{"id":"tool_check_availability","name":"check_availability"},"endpoint_method":"POST","endpoint_url":"https://api.example.com/tools/check_availability","endpoint_headers":{"Authorization":"Bearer token123"},"endpoint_timeout_ms":5000,"endpoint_called_at":"2025-07-30T23:45:03.000Z","query_params":null,"response_status_code":200,"tool_call_output_timeout_ms":null,"request_body":{"date":"tomorrow","service":"consultation"},"response_body":{"available":true,"slots":["09:00","10:00","14:00"]},"timed_out":false,"error_message":null}]}],"call_info":{"from_phone_number":"+15551234567","to_phone_number":"+15559876543"},"analysis":{"latencies_ms":[1064,578,797],"interruptions_count":0}}}}}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Conversation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"},"example":{"error":{"message":"Conversation not found"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"conversations","x-fern-sdk-method-name":"get"},"delete":{"description":"Deletes a conversation, scheduling its transcripts and audio recordings for deletion. The conversation must have ended.","parameters":[{"name":"id","in":"path","description":"The ID of the conversation to delete.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the conversation was deleted successfully."}},"required":["success"]},"examples":{"DeleteConversationExample":{"summary":"Delete conversation response","value":{"success":true}}}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Conversation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"},"example":{"error":{"message":"Conversation not found"}}}}},"409":{"description":"Cannot delete an active conversation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":{"message":"Cannot delete active conversation"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"conversations","x-fern-sdk-method-name":"delete"}},"/conversations/{id}/cancel":{"post":{"description":"Cancels an active conversation.","parameters":[{"name":"id","in":"path","description":"The ID of the conversation to cancel.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the conversation was cancelled successfully."}},"required":["success"]},"examples":{"CancelConversationExample":{"summary":"Cancel conversation response","value":{"success":true}}}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Conversation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"},"example":{"error":{"message":"Conversation not found"}}}}},"409":{"description":"Conversation already ended","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":{"message":"Conversation already ended"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"504":{"description":"Cancellation timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":{"message":"Cancellation requested but not acknowledged within the expected time"}}}}}},"x-fern-sdk-group-name":"conversations","x-fern-sdk-method-name":"cancel"}},"/conversations/{id}/analysis":{"get":{"description":"Returns an analysis of the specified conversation.","parameters":[{"name":"id","in":"path","description":"The ID of the conversation to analyze.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"analysis":{"$ref":"#/components/schemas/ConversationAnalysis"}},"required":["analysis"]},"examples":{"ConversationAnalysisExample":{"summary":"Conversation analysis response","value":{"analysis":{"latencies_ms":[456,654,564],"interruptions_count":2}}}}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Conversation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"conversations","x-fern-sdk-method-name":"get_analysis"}},"/conversations/{id}/extractions":{"post":{"description":"Extracts data from a conversation using a schema.","parameters":[{"name":"id","in":"path","description":"The ID of the conversation to extract data from.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtractDataRequest"},"example":{"schema_id":"conv_extract_schema_6458e4ac-533c-4bdf-8e6d-c2f06f87fd5c"}}}},"responses":{"201":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","description":"The extracted data according to the schema.","additionalProperties":true}},"required":["result"]},"examples":{"ExtractDataExample":{"summary":"Extract data response","value":{"result":{"customer_name":"John Smith","appointment_duration":45,"service_types":["haircut","beard trim"]}}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Conversation or schema not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"conversations","x-fern-sdk-method-name":"extract_data"},"get":{"description":"Returns all extractions for a conversation.","parameters":[{"name":"id","in":"path","description":"The ID of the conversation to get extractions for.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"extractions":{"type":"array","items":{"$ref":"#/components/schemas/ConversationExtraction"}}},"required":["extractions"]},"examples":{"ConversationExtractionsExample":{"summary":"Conversation extractions response","value":{"extractions":[{"id":"conv_extract_f825-4d3e-a149-ddf1bdd2254c","schema":{"id":"conv_extract_schema_6458e4ac-533c-4bdf-8e6d-c2f06f87fd5c","name":"appointment-details","isDeleted":false},"result":{"customer_name":"John Smith","appointment_date":"2025-04-17","appointment_time":"2:30 PM"},"created_at":"2025-07-30T23:49:18.130Z"}]}}}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Conversation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"conversations","x-fern-sdk-method-name":"list_extractions"}},"/conversations/{id}/evals":{"post":{"description":"Evaluates a conversation using an evaluation prompt.","parameters":[{"name":"id","in":"path","description":"The ID of the conversation to evaluate.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluateConversationRequest"},"example":{"prompt_id":"conv_eval_prompt_d7cfe45d-35db-4ef6-a254-81ab1da76ce0"}}}},"responses":{"201":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"evaluation":{"type":"object","properties":{"result":{"type":"string","enum":["successful","unsuccessful","undecided","error"],"description":"The evaluation result."}},"required":["result"]}},"required":["evaluation"]},"examples":{"ConversationEvaluationResultExample":{"summary":"Conversation evaluation result","value":{"evaluation":{"result":"successful"}}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Conversation or evaluation prompt not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"conversations","x-fern-sdk-method-name":"evaluate"},"get":{"description":"Returns all evaluations for a conversation.","parameters":[{"name":"id","in":"path","description":"The ID of the conversation to get evaluations for.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"evals":{"type":"array","items":{"$ref":"#/components/schemas/ConversationEvaluationResult"}}},"required":["evals"]},"examples":{"ConversationEvaluationsExample":{"summary":"Conversation evaluations response","value":{"evals":[{"id":"conv_eval_12345678-abcd-efgh-ijkl-mnopqrstuvwx","result":"successful","prompt":{"id":"conv_eval_prompt_d7cfe45d-35db-4ef6-a254-81ab1da76ce0","name":"chocolate_usage"},"created_at":"2025-07-30T23:49:18.130Z"}]}}}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Conversation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"conversations","x-fern-sdk-method-name":"list_evaluations"}},"/conversations/outbound_call":{"post":{"description":"Initiates a call to a given phone number using Phonic's Twilio account.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutboundCallRequest"},"example":{"to_phone_number":"+19189397081","config":{"agent":"support-agent","welcome_message":"Hi {{customer_name}}. How can I help you today?","system_prompt":"You are an expert in {{subject}}. Be friendly, helpful and concise.","template_variables":{"customer_name":"David","subject":"Chess"},"voice_id":"sabrina","generate_no_input_poke_text":false,"no_input_poke_sec":30,"no_input_poke_text":"Are you still there?","no_input_end_conversation_sec":180,"default_language":"en","additional_languages":["es"],"multilingual_mode":"request","push_to_talk":false,"boosted_keywords":["Load ID","dispatch"],"pronunciation_dictionary":[{"word":"Phuket","pronunciation":"Poo-ket"}],"min_words_to_interrupt":1,"tools":["keypad_input"]},"dry_run":false}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/OutboundDryRunResponse"},{"$ref":"#/components/schemas/OutboundCallInitiatedResponse"}]},"examples":{"OutboundDryRunExample":{"summary":"Dry run response","value":{"conversation_id":null,"dry_run":true}},"OutboundCallExample":{"summary":"Outbound call response","value":{"conversation_id":"conv_12cf6e88-c254-233e-a149-b2f1bdd22783","dry_run":false}}}}}},"201":{"description":"Call initiated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutboundCallInitiatedResponse"},"examples":{"OutboundCallExample":{"summary":"Outbound call response","value":{"conversation_id":"conv_12cf6e88-c254-233e-a149-b2f1bdd22783","dry_run":false}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"404":{"description":"Agent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"409":{"description":"The call could not be completed. `error.code` says why - for example `no_answer` when the dialed number never picked up, `call_ended` when the call ended before it connected, or `sip_call_failed` when the carrier rejected it.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"429":{"description":"Concurrency limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"conversations","x-fern-sdk-method-name":"outbound_call"}},"/conversations/sip/outbound_call":{"post":{"description":"Initiates a SIP outbound call using user-supplied SIP credentials in headers.","parameters":[{"name":"X-Sip-Address","in":"header","description":"SIP address of the user's SIP trunk. Required.","required":true,"schema":{"type":"string"}},{"name":"X-Sip-Auth-Username","in":"header","description":"SIP auth username, if your provider requires it.","required":false,"schema":{"type":"string"}},{"name":"X-Sip-Auth-Password","in":"header","description":"SIP auth password, if your provider requires it.","required":false,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"from_phone_number":{"type":"string","description":"Caller ID phone number in E.164 format."},"to_phone_number":{"type":"string","description":"Destination phone number in E.164 format."},"from_display_name":{"type":"string","maxLength":256,"description":"Display name for the caller ID (the SIP `From` header) on this call. Sent only when non-empty. Whether it reaches the callee depends on your SIP carrier - carriers that forward the `From` display name (e.g. Telnyx) present it, while others (e.g. Twilio) drop it or override it with a CNAM lookup."},"config":{"$ref":"#/components/schemas/OutboundCallConfig"},"dry_run":{"type":"boolean","description":"If true, validates the outbound call setup without placing a call. Returns HTTP 200 with `conversation_id` and `twilio_call_sid` set to null.","default":false},"sip":{"type":"object","properties":{"transport":{"type":"string","enum":["auto","udp","tcp","tls"],"default":"auto","description":"SIP signaling transport used for this call. The SIP address must not carry a `;transport=` parameter; set it here instead."},"media_encryption":{"type":"string","enum":["disabled","allowed","required"],"default":"disabled","description":"Whether media (SRTP) encryption is used on this call."}},"description":"SIP trunk settings for the outbound trunk created for this call."}},"required":["from_phone_number","to_phone_number"]}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SipOutboundDryRunResponse"},{"$ref":"#/components/schemas/SipOutboundCallInitiatedResponse"}]},"examples":{"SipOutboundDryRunExample":{"summary":"Dry run response","value":{"conversation_id":null,"twilio_call_sid":null,"dry_run":true}},"SipOutboundCallExample":{"summary":"Outbound call response","value":{"conversation_id":"conv_12cf6e88-c254-233e-a149-b2f1bdd22783","twilio_call_sid":"CA1234567890","dry_run":false}}}}}},"201":{"description":"Call initiated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SipOutboundCallInitiatedResponse"},"examples":{"SipOutboundCallExample":{"summary":"Outbound call response","value":{"conversation_id":"conv_12cf6e88-c254-233e-a149-b2f1bdd22783","twilio_call_sid":"CA1234567890","dry_run":false}}}}}},"400":{"description":"Invalid query parameters or body, or missing required headers","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ValidationError"},{"$ref":"#/components/schemas/BasicError"},{"$ref":"#/components/schemas/SipCallError"}]},"examples":{"InvalidPhoneNumber":{"summary":"Invalid phone number","value":{"error":{"message":"The dialed phone number does not exist.","code":"invalid_phone_number","sip_status_code":404,"sip_status":"Not Found"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"409":{"description":"The call could not be completed. When the carrier rejected it, the `sip_status_code` and `sip_status` fields contain the carrier's SIP response details; calls that failed before reaching the carrier - `no_answer`, `call_ended` - carry only `message` and `code`.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SipCallError"},{"$ref":"#/components/schemas/BasicError"}]},"examples":{"TrunkRateLimited":{"summary":"SIP trunk rate limited","value":{"error":{"message":"The SIP call could not be completed.","code":"sip_call_failed","sip_status_code":500,"sip_status":"Trunk CPS limit exceeded. Region: us1"}}},"NoAnswer":{"summary":"The dialed number did not answer","value":{"error":{"message":"The dialed phone number did not answer.","code":"no_answer"}}}}}}},"429":{"description":"Concurrency limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"conversations","x-fern-sdk-method-name":"sip_outbound_call"}},"/auth/session_token":{"post":{"description":"Creates a short-lived session token that can be used to authenticate WebSocket connections. Session tokens are useful for client-side applications where you don't want to expose your API key.","requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionTokenRequest"},"example":{"ttl_seconds":300}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"session_token":{"type":"string","description":"The session token to use for authentication."},"expires_at":{"type":"string","format":"date-time","description":"When the session token expires."}},"required":["session_token","expires_at"]},"examples":{"CreateSessionTokenExample":{"summary":"Created session token response","value":{"session_token":"ph_session_abc123def456...","expires_at":"2025-07-30T23:50:00.000Z"}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden (only API keys can create session tokens)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"},"example":{"error":{"message":"Only API keys can be used to create session tokens"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"auth","x-fern-sdk-method-name":"create_session_token"}},"/auth/conversation_token":{"post":{"description":"Creates a short-lived conversation token scoped to a specific agent. Conversation tokens are useful for client-side applications that start a conversation with a single agent without exposing your API key.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateConversationTokenRequest"},"example":{"agent_id":"agent_12cf6e88-c254-4d3e-a149-a7f1bdd22783","ttl_seconds":30}}}},"responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"conversation_token":{"type":"string","description":"The conversation token to use for authentication."},"expires_at":{"type":"string","format":"date-time","description":"When the conversation token expires."}},"required":["conversation_token","expires_at"]},"examples":{"CreateConversationTokenExample":{"summary":"Created conversation token response","value":{"conversation_token":"ph_conversation_abc123def456...","expires_at":"2025-07-30T23:50:00.000Z"}}}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden (only API keys can create conversation tokens)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"},"example":{"error":{"message":"Only API keys can be used to create conversation tokens"}}}}},"404":{"description":"Agent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"auth","x-fern-sdk-method-name":"create_conversation_token"}},"/tts/stream":{"post":{"description":"Streams generated speech audio for the provided text.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StreamTtsRequest"},"example":{"text":"Thanks for calling Phonic. How can I help?","voice_id":"grant","output_format":"pcm_16000"}}}},"responses":{"200":{"description":"Raw audio bytes streamed as they are generated.","content":{"audio/pcm":{"schema":{"type":"string","format":"binary"}},"audio/ulaw":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"tts","x-fern-sdk-method-name":"stream"}},"/projects":{"get":{"description":"Returns all projects in a workspace.","responses":{"200":{"description":"Success response","content":{"application/json":{"schema":{"type":"object","properties":{"projects":{"type":"array","items":{"$ref":"#/components/schemas/Project"}}},"required":["projects"]},"examples":{"ProjectsListExample":{"summary":"List of projects","value":{"projects":[{"id":"proj_ad0334f1-2487-4155-9df3-abd8129b29ad","name":"customer-support","default_agent":{"id":"agent_12cf6e88-c254-4d3e-a149-a7f1bdd22783","name":"support-agent"},"active_conversations":3,"max_active_conversations":50}]}}}}}},"401":{"description":"Unauthorized (authentication missing or invalid)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicError"}}}}},"x-fern-sdk-group-name":"projects","x-fern-sdk-method-name":"list"},"post":{"description":"Creates a new project in a workspace.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"
[...]
